@model API.Models.Def_HistoryVO

@{
    ViewBag.Title = "DefectiveCreate";
}

<h2>불량품 문의등록</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* 작업지시번호 *@
    <div class="form-group">
        @Html.LabelFor(model => model.Workorderno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("WorkOrderno", (IEnumerable<SelectListItem>)ViewBag.WorkOrderno, "작업지시번호")
        </div>
    </div>

        @* 불량현상상세코드명 *@
        <div class="form-group">
            @Html.LabelFor(model => model.Def_Mi_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Def_Mi_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Def_Mi_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @* 불량현상상세코드 *@
        <div class="form-group">
            @Html.LabelFor(model => model.Def_Mi_Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Def_Mi_Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Def_Mi_Code, "", new { @class = "text-danger" })
            </div>
        </div>

        @* 불량일시 *@
        <div class="form-group">
            @Html.LabelFor(model => model.Def_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Def_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Def_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        @* 불량수량 *@
        <div class="form-group">
            @Html.LabelFor(model => model.Def_Qty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Def_Qty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Def_Qty, "", new { @class = "text-danger" })
            </div>
        </div>

        @* 이미지명 *@
        <div class="form-group">
            @Html.LabelFor(model => model.Def_Image_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Def_Image_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Def_Image_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @* 이미지경로 *@
        <div class="form-group">
            @Html.LabelFor(model => model.Def_Image_Path, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Def_Image_Path, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Def_Image_Path, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="문의하기" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>