@model API.Models.Sys_NoticeVO

@{
    ViewBag.Title = "Details";
}

    <h2>@Model.Title</h2>

<div>
    <h4>@Model.Ins_Emp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ins_Emp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ins_Emp)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Notice_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notice_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notice_End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notice_End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Seq }) |
    @Html.ActionLink("Back to List", "Index")
</p>
